Thumbs.db
*.VC.opendb
*.VC.db
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.tmp
.vs
.vs/*
.vs
*.obj
*.iobj
*.tlog
*.pdb
*.exp